span {
    color: tomato;
}

.flexible-box {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 80%;
    padding-left: 10%;
    color: rgb(90, 88, 88);
    padding-top: 10%;
    padding-right: 1%;
}

.half-width img {
    width: 100%;

}

h1 {
    font-size: 50px;
    margin-bottom: -50px;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 20px 30px;
    border-radius: 20px;
    background-image: linear-gradient(red, orange);
    color: black;
    font-weight: 700;

}

p {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 20px;
}

.top-margin {
    margin-top: 70px;
}

.sec-p {
    width: 100%;
    padding-left: 10%;
    color: rgb(90, 88, 88);
    padding-top: 10%;
}

.sec-p img {
    width: 50%
}

.section-tow {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.recipies {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;

}

body {
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipies-items {
    width: 100%;
    margin-right: 3%;
    margin-left: 3%;
    box-shadow: 5px 5px 5px 5px grey;
    padding-left: 20px;
    padding-right: 130px;
    padding-top: 20px;
    border-radius: 20px;



}

.recipies-items img {
    width: 150%;


}

#resize {
    font-size: 30px;
    color: black;
    margin-bottom: -80px;
}

#social-midia {
    width: 100%;
    padding-left: 5%;
    text-align: center;
}

.sec-shadow {
    margin-right: 3%;
    margin-left: 3%;
    box-shadow: 5px 5px 5px 5px grey;
}

footer {
    text-align: center;
    background-color: black;
    color: gray;
    height: 200px;
    padding-top: 30px;
}

.footer {
    font-size: 30px;
}